.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-label {
  font-weight: 600;
  margin-bottom: 6px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #146c7f;
}

.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 12px;
}